{% include 'components/header.html' %}
<div class="container-fluid bg-primary text-light">
  <h4 class="p-1 text-center">Welcome, {{user.first_name}}</h4>
</div>
<form action="{% url 'publish' %}" method="post" class="m-auto w-50">
  {% csrf_token %} {% for field in form%}
  <div class="form-group">
    {{field.label_tag}} {{field}}
  </div>
  {% endfor %}
  <input
    type="submit"
    class="btn btn-outline-success d-block mx-auto my-3"
    value="Publish Bolg"
  />
</form>
<div class="container my-4">
  <h1 class="display-4 text-center">My Blogs</h1>
  <div id="accordion" class="m-4">
    {% if myBlogs %}
    <table class="table">
      <thead>
        <tr>
          <th>Name Of Blog</th>
          <th>Uploaded On</th>
          <th>Likes</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      {% for blog in myBlogs %}
      <tr>
        <td><a href="{% url 'readBlog' blog.id%}">{{blog.title}}</a></td>
        <td>{{blog.published_on}}</td>
        <td>{{blog.total_likes}}</td>
        <td class="text-center">
          <form action="{% url 'editBlog'%}" method="GET" class="d-inline-block">
            <input type="hidden" name="id" value="{{blog.id}}">
            <button class="btn btn-outline-primary">Edit Blog</button>
          </form>
          <form action="{% url 'deleteBlog'%}" method="get" class="d-inline-block">
            <input type="hidden" name="id" value="{{blog.id}}">
          <button class="btn btn-outline-danger">Delete Blog</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <h3 class="text-center ">No blog uploaded yet.</h3>
    {% endif %}
  </div>
</div>
{% include 'components/footer.html' %}
